@import "../../commt.scss";
.collapseTitle {
    cursor: pointer;
    font-weight: 500;
    color: rgb(51, 51, 51);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0.7em;
    border-radius: 5px;
    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .titleLeft {
      display: flex;
      align-items: center;
      img {
        height: 14px;
      }
    }
    .titleRight{
      
    }
    .other{
      font-weight: normal;
        margin-top: 0.5rem;
        margin-left: 2rem;
        color: #888;
    }
  }