.co_header {
    height: 70px;
    width: 100%;
    line-height: 70px;
    box-shadow: 0px 1px 0px 0px #ebebeb;
    h1 {
      width: 150px;
      height: 100%;
      font-size: 32px;
      float: left;
      margin-left: 3vw;
    }
    .header_view {
      height: 100%;
      float: left;
      margin-left: 3vw;
      li {
        margin-left: 3vw;
        display: inline-block;
      }
    }
    .header_right {
      height: 100%;
      text-align: right;
      li {
        display: inline;
        margin-right: 2vw;
        display: inline-block;
        /deep/.el-input__inner {
          border-radius: 30px !important;
        }
        img {
          width: 22px;
          height: 24px;
          vertical-align: middle;
        }
        .divideFlag {
          margin: 0 1vw;
        }
      }
    }
}